---
import Layout from '@/layouts/Layout.astro'
import { getAllSeries, getAllTags } from '@/utils'

const allSeries = await getAllSeries()
const allTags = await getAllTags()
---

<Layout title="Posts">
  <div id="search"></div>
  <div>
    <section>
      <h2>Browse by Series</h2>
      <ul>
        {
          allSeries.entries().map(([slug, series]) => (
            <li>
              <a href={`/series/${slug}`}>
                {series.name} ({series.posts.length})
              </a>
            </li>
          ))
        }
      </ul>
    </section>
    <section>
      <h2>Browse by Tag</h2>
      <ul>
        {
          allTags.entries().map(([tag, { posts }]) => (
            <li>
              <a href={`/tags/${tag}`}>
                #{tag} ({posts.length})
              </a>
            </li>
          ))
        }
      </ul>
    </section>
  </div>
</Layout>

<link href="/pagefind/pagefind-ui.css" rel="stylesheet" />
<script is:inline src="/pagefind/pagefind-ui.js"></script>

<script is:inline>
  document.addEventListener('astro:page-load', () => {
    const search = new PagefindUI({
      element: '#search',
      showSubResults: true,
      showImages: false,
      debounceTimeoutMs: 200,
      excerptLength: 30,
    })

    const urlParams = new URLSearchParams(window.location.search)

    const tags = urlParams.getAll('tag')
    if (tags != null) {
      search.triggerFilters({ tag: tags })
    }

    const series = urlParams.get('series')
    if (series != null) {
      search.triggerFilters({ series: [series] })
    }

    const s = urlParams.get('s')
    if (s != null) {
      search.triggerSearch(s)
    }
  })
</script>

<style>
  #search {
    --pagefind-ui-primary: var(--color-primary);
    --pagefind-ui-text: var(--color-text);
    --pagefind-ui-background: var(--color-base);
    --pagefind-ui-border: var(--color-overlay0);
    --pagefind-ui-tag: var(--color-base);
    --pagefind-ui-border-radius: 0;
    --pagefind-ui-font: var(--font-hyperlegible);

    & :global(mark) {
      background-color: var(--color-selection);
      color: var(--color-text);
      font-weight: bold;
    }

    .pagefind-ui__drawer {
      gap: 0;
      column-gap: 1rem;
      margin-block-start: 0.5rem;
    }

    .pagefind-ui__results-area {
      margin: 0;
    }

    .pagefind-ui__filter-panel {
      margin: 0;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  li {
    background-color: var(--color-base);
    padding: 0.1rem;
  }

  h2 {
    margin-block: 0;
  }
</style>
