---
import Post from '@/components/Post.astro'
import Layout from '@/layouts/Layout.astro'
import { getAllTags } from '@/posts'

export async function getStaticPaths() {
  const tags = await getAllTags()
  return [...tags.keys().map((tag) => ({ params: { tag } }))]
}

const { tag } = Astro.params

const allTags = await getAllTags()
const { posts } = allTags.get(tag)!
const title = `Posts tagged #${tag}`
---

<Layout title={title} description={`${posts.length} Posts`}>
  <h1>{title}</h1>
  {posts.map((p) => <Post postId={p.id} card />)}
</Layout>

<style>
  h1 {
    margin-block-start: 0;
  }
</style>
